* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 16px;
    margin-bottom: 16px;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: orange;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;
}

.samplecss {
    background-color: red;
}