<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>OSUC Res Hall</h1>
    </header>
    <nav>
        <ul>
            <li class="nav-button"><a href="/index">Home</a></li>
            <li class="nav-button"><a href="/test1">test1</a></li>
        </ul>
</body>

</html>