<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="module" src="/js/plots.js"></script>
</head>

<body>
    <header>
        <h1>OSUC Res Hall</h1>
    </header>
    <nav>
        <ul>
            <li class="nav-button"><a href="/index">Home</a></li>
            <li class="nav-button"><a href="/test1">test1</a></li>
        </ul>
    </nav>
    <main>
        <div id="graphdiv" style="width: 90%;height: 300px;"></div>

    </main>
</body>


</html>