<!DOCTYPE html>
<html>

<head>
    <title>Test 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1>This is test1.html</h1>
    <nav>
        <ul>
            <li class="nav-button"><a href="/index">Home</a></li>
            <li class="nav-button"><a href="/test1">test1</a></li>
        </ul>
</body>

</html>