/* style the buttons in the class timeSelect to look good */

.timeSelect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100%;
}
.floorSelect {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;

}
.floorSelect label > * {
  margin: auto;
  margin-right: 2px;
  margin-left: 10px;
}